<section class="section brd-btm" id="basic_info">
    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <h2 class="title-thin text-muted">基本信息</h2>

            <dl class="dl-horizontal clear-mrg">
                <dt class="text-upper">性别</dt>
                <dd>男</dd>

                <dt class="text-upper">出生日期</dt>
                <dd>23 Nov. 1999</dd>

                <dt class="text-upper">手机</dt>
                <dd>15920990500</dd>

                <dt class="text-upper">e-mail</dt>
                <dd><a href="mailto:kli@live.com">kli@live.com</a></dd>

                <dt class="text-upper">NCRE</dt>
                <dd>一级</dd>
                
            </dl>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->
